<div id="wrapper">
    <h1>News Hub</h1>
    <h2><i>Keeping you up to date with the latest information</i></h2>
    <div id="articles"></div>
    <div id="notes"></div>
</div>


<div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center heading">
            <h1> News Hub</h1>
        </div>
    </div>
    <div class="col-md-12">
        {{#each article}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{this.title}}</h4>
            </div>
            <div class="panel-body">
                <p> {{this.summary}}</p>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                <br><br>

                <button type="button" class="btn btn-default save" data-id={{this._id}}>Save Article</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="articles-container">
    {{#each article}}
    <div class="article m-3">
        <div class="row">
            <div class="col-sm-9 headline-container">
                <a href='{{link}}' target="_blank" class="article-link">{{title}}</a>
            </div>
            <div class="col-sm-9">
                <p class="article-summary">{{summary}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button class="note-button btn btn-outline-success m-3" data-id="{{_id}}">Open Notes</button>
            </div>
        </div>
        <div class="note-container d-flex justify-content-center">
            <div class="note" id="{{_id}}"></div>
        </div>
    </div>
    {{/each}}
</div>